*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
#login{
    height: 600px;
}
#loginbody{
    width: 960px;
    height: 600px;
    margin: 0 auto;
}
.logo{
    display: block;
    margin: 20px 0 50px 55px;
    float: left;
}
.logo>span{
    display: block;
    width: 190px;
    height: 39px;
    background: url("../images/logo-fanli.index.png");
}

#loginbody>div{
    clear: both;
    height: 480px;
}
.hot-good{
    float: left;
    margin-left: 70px;
}
#loginbox{
    width: 310px;
    height: 381px;
    float: left;
    margin-left: 100px;
    padding: 17px 20px;
    border: 1px solid #dddddd;
    border-top:3px solid #88bb33;
}
#loginbox>span{
    font-size: 18px;
}
#loginbox>a{
    
}